.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

.top {
  align-items: self-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 64px 0 64px;
  width: 100%;
  z-index: 2;
  height: 100vh;
}

.bg {
  opacity: 0.05;
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.announcement {
  align-items: center;
  background-color: #D9FE6F;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
  user-select: none;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: absolute;
}

.logo {
  left: 50px;
  position: fixed;
  top: 64px;
}

.ctas {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 56px;
}

.socials {
  margin-top: 96px;
  user-select: none;
}

.footer {
  display: none;
  user-select: none;
}

.logoText {
  color: #FF79E9;
  font-family: var(--font-orbitron);
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
  user-select: none;
}

.description {
  color: #FFFFFF;
  font-family: var(--font-ubuntu-mono);
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  max-width: 707px;
}

.description::selection {
  background-color: #FF79E9;
  color: #000000;

}

.button1 {
  animation: buttonPulsate 2.25s infinite;
  background-color: #FF79E9;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-family: var(--font-kode);
  font-weight: 700;
  padding: 16px 24px;
  transition: .35s all;
  user-select: none;
}

.button2 {
  background-color: #1A181E;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-kode);
  font-weight: 400;
  padding: 16px 24px;
  transition: .35s all;
  user-select: none;
}

.button1:hover,
.button2:hover,
.icon:hover {
  transform: translateY(-2px);
  filter: brightness(0.9);
}

.button1:active,
.button2:active,
.icon:active {
  transform: translateY(2px);
  filter: brightness(0.5);
}

.icon {
  transition: .35s all;
  user-select: none;
}

.logoLarge {
  animation: logoMove 8s infinite;
  align-items: center;
  bottom: 44px;
  background-color: #20151F;
  border-radius: 100%;
  display: flex;
  height: 540px;
  justify-content: center;
  position: absolute;
  right: -110px;
  /* transition: .35s all; */
  width: 540px;
  user-select: none;
}

.logoLarge img {
  width: 60%;
}



/* Tablet and Smaller Desktop */
@media only screen and (max-width: 964px) {
  .top {
    padding: 0 18px;
    align-items: center;
    height: unset;
    margin-top: 140px;
  }

  .logo {
    left: 18px;
    position: absolute;
    top: 64px;
  }

  .ctas {
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    width: 100%;
  }

  .logoText {
    font-size: 72px;
    text-align: center;
    margin-bottom: 16px;
    width: 100%;
  }

  .description {
    font-size: 18px;
    line-height: 125%;
    max-width: 100%;
    text-align: center;
  }

  .socials {
    display: none;
  }

  .footer {
    align-items: center;
    background-color: #20151F;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 24px 0 64px 0;
    position: relative;
    width: 100%;
  }

  .logoLarge {
    animation: logoMoveMobile 8s infinite;
    border-radius: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    bottom: 0;
    left: 0;
    height: 100%;
    padding: 80px 0;
    margin-top: 58px;
    right: unset;
    position: relative;
    width: 100%;
  }

  .logoLarge img {
    width: 44%;
  }
}

@keyframes buttonPulsate {
  0% {
    box-shadow: 0 0 0 0 #FF79E9;
  }

  70% {
    box-shadow: 0 0 0 8px #38383800;
  }

  100% {
    box-shadow: 0 0 0 32px #38383800;
  }
}

@keyframes logoMove {
  0% {
    bottom: 34px;
  }

  50% {
    bottom: 0px;
  }

  100% {
    bottom: 34px;
  }
}

@keyframes logoMoveMobile {
  0% {
    bottom: -24px;
  }

  50% {
    bottom: 0px;
  }

  100% {
    bottom: -24px;
  }
}